<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><i class="fa fa-exclamation-triangle"></i> Detail Issue</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Dashboard</a>
      </li>
      <li>
        <a>Issues</a>
      </li>
      <li class="active">
        <strong>Detail Issue</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 animated fadeInRight">
      <div class="mail-box-header">
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Issue Type</th>
              <th>Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a class="btn  btn-sm {{detailIssueCtrl.param.status == 'Open' ? 'btn-warning' : 'btn-primary'}} btn-md" data-toggle="tooltip" data-placement="top" title="Reply">{{detailIssueCtrl.param.status}}</a></td>
              <td><a class="btn {{detailIssueCtrl.param.issueType == 'Bug' ? 'btn-danger' : 'btn-warning'}} btn-sm" data-toggle="tooltip" data-placement="top" title="Reply">{{detailIssueCtrl.param.issueType}}</a></td>
              <td><a class="btn btn-sm {{detailIssueCtrl.param.priority == '1' ? 'btn-primary' : detailIssueCtrl.param.priority == 2 ? 'btn-warning' : 'btn-danger'}}">{{detailIssueCtrl.param.priority == '1' ? 'Low' : detailIssueCtrl.param.priority == 2 ? 'Medium' : 'High'}}</a></td>
            </tr>

          </tbody>
        </table>
        <h2>
          <span class="font-normal">Topic: </span>{{detailIssueCtrl.param.topic}}
        </h2>

        <div class="mail-tools tooltip-demo m-t-md">


          <h3>
            <span class="font-normal">Issued At: <u>{{detailIssueCtrl.param.issuedAt | date}}</u> by <u>{{detailIssueCtrl.param.issuedBy.fullname}}</u></span>
          </h3>
          <h5>

          </h5>
        </div>
      </div>
      <div class="mail-box">
        <div class="mail-body">
          <p>
            {{detailIssueCtrl.param.description}}
          </p>
        </div>
        <div class="mail-attachment">
          Screenshot
          <div class="attachment">

            <img src="../../img/dashboard4_2.jpg">
          </div>
          <div class="mail-body tooltip-demo">
            <a class="btn btn-white btn-rounded" ng-click="detailIssueCtrl.goBack()"><i class="fa fa-reply"></i> Go Back</a>
            <a class="btn btn-primary btn-rounded" ng-click="detailIssueCtrl.goToEdit(detailIssueCtrl.param.id)"><i class="fa fa-edit"></i> Edit</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
