<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><i class="fa fa-exclamation-triangle"></i> Issues</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Dashboard</a>
      </li>
      <li>
        <a>Issues</a>
      </li>
      <li class="active">
        <strong>List Issues</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">

          <div class="m-b-lg">

            <div class="input-group">
              <input type="text" placeholder="Search issue by name..." class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-white"> Search</button>
              </span>
            </div>
            <div class="m-t-md">

              <div class="pull-right">
                <!-- <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button> -->
              </div>

              <!-- <strong>Found 61 issues.</strong> -->

            </div>

          </div>

          <div class="table-responsive">
            <table class="table table-hover issue-tracker">
              <thead>
                <th>Type</th>
                <th>Issue</th>
                <th>Priority</th>
                <th>Issued By</th>
                <th>Date</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr ng-repeat="issue in listIssuesCtrl.issues.records">
                  <td>
                    <span class="label {{issue.issueType == 'Bug' ? 'label-danger' : 'label-primary'}}">{{issue.issueType}}</span>
                  </td>
                  <td class="issue-info">
                    <a href="#">
                      ISSUE-{{issue.id}} - {{issue.topic}}
                    </a>

                    <small>
                    {{issue.description}}
                    </small>
                  </td>
                  <td>
                    <span class="label {{issue.priority == '1' ? 'label-primary' : issue.priority == 2 ? 'label-warning' : 'label-danger'}}">{{issue.priority == '1' ? 'Low' : issue.priority == 2 ? 'Medium' : 'High'}}</span>
                  </td>
                  <td>
                    {{issue.issuedBy.fullname}}
                  </td>
                  <td>
                    {{issue.issuedAt | date}}
                  </td>
                  <td>
                     <span class="label {{issue.status == 'Open' ? 'label-warning' : 'label-primary'}}">{{issue.status}}
                  </td>
                  <td class="text-right">
                    <button class="btn btn-info btn-rounded btn-sm btn-outline" ng-click="listIssuesCtrl.goDetail(issue.id)"> Detail</button>
                    <button class="btn btn-primary btn-rounded btn-sm btn-outline" ng-click="listIssuesCtrl.goToEdit(issue.id)"> Edit</button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
