<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><i class="fa fa-shopping-bag"></i> Add Store</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Dashboard</a>
      </li>
      <li>
        <a>Stores</a>
      </li>
      <li class="active">
        <strong>Add Store</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Fill in the information below. The field labels marked with * are required input fields.
          </h5>
          <div ibox-tools link="stores/add_store" issue="{{location.path()}}">
          </div>
        </div>
        <div class="ibox-content">
          <form method="get" class="form-horizontal">
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Region</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-flag"></i></span>
                  <select ng-model="addStoreCtrl.param.regionId" class="form-control m-b" ng-options="region.id as region.name for region in addStoreCtrl.regions">
                  </select>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Store Type</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-shopping-basket"></i></span>
                  <select ng-model="addStoreCtrl.param.storeTypeId" class="form-control m-b" ng-options="storeType.id as storeType.name for storeType in addStoreCtrl.storeTypes">
                  </select>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Name *</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                  <input ng-model="addStoreCtrl.param.name" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Phone *</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                  <input ng-model="addStoreCtrl.param.phone" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Status</label>
              <div class="col-sm-10">
                <label>
                  <input icheck type="checkbox" ng-model="addStoreCtrl.param.status" >
                Active </label>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Location</label>
              <div class="col-sm-10">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                  <input places-auto-complete size=80
                  ng-model="addStoreCtrl.param.location"
                  component-restrictions="{country:'kh'}"
                  types="{{types}}"
                  on-place-changed="addStoreCtrl.placeChanged()"
                  class="form-control" />
                  <!-- <input type="text" ng-model="addStoreCtrl.param.location" class="form-control"> -->
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">GPS Mark</label>
              <div class="col-sm-5">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-map-pin"></i> Lat</span>
                  <input type="text" ng-model="addStoreCtrl.param.lat" class="form-control">
                </div>
              </div>
              <div class="col-sm-5">
                <div class="input-group m-b">
                  <span class="input-group-addon"><i class="fa fa-map-pin"></i> Lng</span>
                  <input type="text" ng-model="addStoreCtrl.param.lng" class="form-control">
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <ng-map on-click="addStoreCtrl.placeMarker()">
              <marker
              ng-repeat="pos in addStoreCtrl.positions" position="{{pos.lat}}, {{pos.lng}}">
            </marker>
          </ng-map>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button class="btn btn-white btn-rounded" ng-click="addStoreCtrl.goBack()" type="submit">Cancel</button>
              <button class="btn btn-primary btn-rounded" ng-click="addStoreCtrl.save()" type="submit">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
