<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Viewers</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/dashboard">Home</a>
      </li>
      <li>
        <a>Users</a>
      </li>
      <li class="active">
        <strong>Viewers</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            Please use the table below to navigate or filter the results. You can print download the table as <strong>excel and pdf</strong>.
          </h5>

          <div class="ibox-tools">
            <button class="btn btn-primary btn-rounded btn-sm" ng-click="addNew()"><i class="fa fa-plus-circle"></i> Add New </button>
            <button class="btn btn-warning btn-rounded btn-sm" ng-click="reportIssue()"><i class="fa fa-exclamation-triangle"></i>  Issue</button>
          </div>
        </div>
        <div class="ibox-content">
          <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Status</th>
                <th class="text-right" data-sort-ignore="true">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="viewer in listViewersCtrl.viewers.records">
                <td>{{viewer.id}}</td>
                <td>{{viewer.fullname}}</td>
                <td>{{viewer.username}}</td>
                <td>{{viewer.phone}}</td>
                <td>
                  <button class="btn-white btn btn-xs">{{viewer.status ? 'Active' : 'Inactive'}}</button>
                </td>
                <td class="text-right">
                  <div class="btn-group">
                    <button class="btn-primary btn btn-sm" ng-click="listViewersCtrl.showEdit(viewer.id)">Edit</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>
