<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">yadayada</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    PS+
                </div>

            </li>

            <li ng-class="{active: $state.includes('stores')}">
                <a href="#"><i class="fa fa-shopping-bag"></i> <span class="nav-label">STORES</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('stores')}">
                    <li ui-sref-active="active"><a ui-sref="stores.stores_rewards"><i class="fa fa-comment-o"></i>Claimed<span class="label label-info pull-right">2</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="stores.list_stores"><i class="fa fa-shopping-bag"></i>Stores</a></li>
                    <li ui-sref-active="active"><a ui-sref="stores.list_store_types"><i class="fa fa-share-alt"></i>Store Types</a></li>
                    <li ui-sref-active="active"><a ui-sref="stores.add_store"><i class="fa fa-plus-circle"></i>Add Store</a></li>
                    <li ui-sref-active="active"><a ui-sref="stores.add_store_type"><i class="fa fa-plus-circle"></i>Add Store Type</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('displays')}">
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">DISPLAYS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('displays')}">
                    <li ui-sref-active="active"><a ui-sref="displays.list_rewards"><i class="fa fa-gift"></i>Rewards</a></li>
                    <li ui-sref-active="active"><a ui-sref="displays.list_displays"><i class="fa fa-picture-o"></i>Displays</a></li>
                    <li ui-sref-active="active"><a ui-sref="displays.list_display_types"><i class="fa fa-share-alt-square"></i>Display Types</a></li>
                    <li ui-sref-active="active"><a ui-sref="displays.add_reward"><i class="fa fa-plus-circle"></i>Add Reward</a></li>
                    <li ui-sref-active="active"><a ui-sref="displays.add_display"><i class="fa fa-plus-circle"></i>Add Display</a></li>
                    <li ui-sref-active="active"><a ui-sref="displays.add_display_type"><i class="fa fa-plus-circle"></i>Add Display Types</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('auditors')}">
                <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">AUDITORS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('auditors')}">
                    <li ui-sref-active="active"><a ui-sref="auditors.list_auditors"><i class="fa fa-address-book"></i>Auditors</a></li>
                    <li ui-sref-active="active"><a ui-sref="auditors.add_auditor"><i class="fa fa-plus-circle"></i>Add Auditors</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('users')}">
                <a href="#"><i class="fa fa-address-book"></i> <span class="nav-label">USERS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('users')}">
                    <li ui-sref-active="active"><a ui-sref="users.list_admins"><i class="fa fa-address-book"></i>Admins</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.list_viewers"><i class="fa fa-eye"></i>Viewers</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.add_admin"><i class="fa fa-plus-circle"></i>Add Admin</a></li>
                    <li ui-sref-active="active"><a ui-sref="users.add_viewer"><i class="fa fa-plus-circle"></i>Add Viewer</a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
